<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025532827951-smm2depfpvarlj29j9e9jcsdsfh9gi5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025532827951-smm2depfpvarlj29j9e9jcsdsfh9gi5m</string>
	<key>API_KEY</key>
	<string>AIzaSyALBNMpY-WkG_OX5lvwsta-eNs1G81wfvk</string>
	<key>GCM_SENDER_ID</key>
	<string>1025532827951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deskbtm.vsDroid</string>
	<key>PROJECT_ID</key>
	<string>vs-droid</string>
	<key>STORAGE_BUCKET</key>
	<string>vs-droid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025532827951:ios:69bc53bdbf5518fe7ea9da</string>
</dict>
</plist>